@charset 'UTF-8';

/* 기본 폰트 종류 및 사이즈 */
html {
  font-size: 16px;
  font-family: 'Teko', sans-serif;
}

/* 숨긴 콘텐츠 */
.a11y-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip-path: polygon(0 0, 0 0, 0 0);
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
}

/* 스킵 네비게이션 */
.skip-nav li {
  display: flex;
  position: absolute;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #000;
}
.skip-nav li a {
  position: absolute;
  transform: translateY(-130%);
  margin: 10px 0;
  padding: 10px 0;
  color: #fff;
}
.skip-nav li a:active,
.skip-nav li a:focus {
  position: static;
  transform: none;
}

/* 헤더 */
.header {
  position: fixed;
  top: 0;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 80px;
  background-color: #161616;
  z-index: 1;
}
.header-heading a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 155px;
  height: 100%;
  font-size: 2.5rem;
  border-bottom: 5px solid #fff;
  background-color: #252525;
  color: #fff;
}
.main-menu {
  flex: 1;
}
.menu-list {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
}
.menu-list li {
  height: 100%;
}
.menu-list li a {
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 100%;
  font-size: 1.25rem;
  color: #adadad;
}
.menu-list li:nth-child(-2n + 3) a {
  color: #f2a900;
}
.menu-list li a:hover {
  color: #fff;
}
.menu-list li a i {
  margin-left: 3px;
  font-size: 0.7rem;
}
.utility {
  display: flex;
  flex-flow: row nowrap;
  padding-right: 10px;
}
.utility li a {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0 20px;
  height: 100%;
  font-size: 1.25rem;
  color: #adadad;
}
.utility li a:hover {
  color: #fff;
}
.utility li:first-child a i {
  padding-right: 15px;
  font-size: 0.8rem;
}
.utility li:last-child a i {
  font-size: 1.25rem;
}
.buy-btn {
  width: 150px;
  height: 100%;
  background-color: #f2a900;
  font-size: 1.2rem;
  color: #fff;
}
.buy-btn i {
  margin-left: 5px;
  font-size: 0.8rem;
}
.mobile-menu-btn {
  display: none;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 60px;
  background-color: #f2a900;
}
.ham-box {
  position: relative;
  width: 30px;
  height: 27px;
}
.ham-bar {
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: #fff;
}
.first-bar {
  top: 0;
}
.second-bar {
  top: 50%;
  transform: translateY(-50%);
}
.last-bar {
  bottom: 0;
}

/* 메인 컨텐츠 */
.main {
  display: flex;
  flex-flow: row wrap;
  margin-top: 80px;
}
.season,
.update,
.repo {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
}
.season {
  margin-bottom: 5px;
  width: 100%;
  height: 560px;
  background-image: url(../img/season-background.png);
}
.season-content,
.update-content,
.repo-content {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.season-content {
  left: 50%;
}
.season-heading,
.update-heading,
.repo-heading {
  font-size: 4.2rem;
  text-shadow: 1px 1px 1px #000;
}
.season-text,
.update-text {
  font-size: 1.2rem;
  font-weight: 700;
  text-shadow: 1px 1px 1px #000;
}
.more-btn {
  display: inline-block;
  margin-top: 30px;
  padding: 15px 38px 11px;
  font-size: 1.6rem;
  background-color: #f2a900;
  color: #fff;
  transition: box-shadow 0.1s ease;
  cursor: pointer;
}
.more-btn:hover {
  box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.5);
}
.update {
  flex: 1;
  margin-right: 5px;
  width: 47%;
  height: 543px;
  background-image: url(../img/update-background.jpg);
}
.update-content {
  left: 50px;
}
.repo {
  flex: 1;
  width: 47%;
  height: 543px;
  background-image: url(../img/repo-background.png);
}
.repo-content {
  left: 50px;
}
.repo-heading {
  width: 380px;
}
.patch-notes {
  width: 100%;
  background: url(../img/patch-notes-background.jpg) no-repeat top / cover;
}
.patch-notes-inner {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 70px 0 50px;
  width: 1280px;
}
.patch-notes-heading {
  margin-bottom: 20px;
  width: 100%;
  font-size: 4rem;
  text-align: center;
}
.patch-card {
  flex: 1;
  width: 50%;
  background-color: #fff;
}
.patch-card > a {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}
.patch-card:first-of-type {
  margin-right: 20px;
}
.patch-card img {
  width: 100%;
}
.patch-card h3 {
  padding: 60px 20px 10px;
  font-size: 2rem;
}
.tag {
  position: relative;
}
.tag::before {
  content: 'PC';
  position: absolute;
  top: 12px;
  left: 20px;
  padding: 7px 50px;
  font-size: 1.3rem;
  background-color: #252525;
  color: rgba(255, 255, 255, 0.8);
}
.patch-card p {
  flex: 1;
  padding: 0 20px;
  font-family: 'Roboto', sans-serif;
}
.patch-card .patch-more-btn {
  margin-top: 20px;
  padding: 18px 0 13px;
  width: 100%;
  font-size: 1.5rem;
  background-color: #f2a900;
  text-align: center;
  color: #fff;
}
.btn-area {
  margin-top: 50px;
  width: 100%;
  text-align: center;
}
.section-more-btn {
  padding: 15px 60px 10px;
  font-size: 1.5rem;
  background-color: #252525;
  color: #fff;
  cursor: pointer;
}

/* 푸터 */
.footer {
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 40px;
  color: #fff;
  background: url(../img/footer-logo.png) no-repeat 45px 125px, #161616;
}
.SNS-list {
  display: flex;
  grid-column: 1 / 3;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #fff;
}
.SNS-list li {
  margin-right: 25px;
}
.corp {
  padding-left: 100px;
  grid-row: 2;
  grid-column: 1;
  font-family: 'Roboto', sans-serif;
}
.corp small {
  font-size: 0.8rem;
  line-height: 1.3;
  color: #707070;
}
.copy-content span {
  display: block;
}
.copy-content span:last-child {
  margin: 10px 0;
}
.copy-content span:last-child a:hover {
  color: #fff;
}
.corp-list {
  display: flex;
  flex-flow: row wrap;
}
.corp-list li a {
  position: relative;
  margin-left: 40px;
  font-size: 0.8rem;
  color: #707070;
}
.corp-list li a::before {
  content: '';
  position: absolute;
  top: 0;
  left: -20px;
  width: 1px;
  height: 16px;
  background-color: #707070;
}
.corp-list li a:hover {
  color: #fff;
}
.corp-list li:first-child a {
  margin-left: 0;
  color: #fff;
}
.corp-list li:first-child a::before {
  content: none;
}
.footer-img {
  align-self: start;
  grid-row: 2;
  grid-column: 2;
}

@media (max-width: 1400px) {
  /* 헤더 */
  .header {
    height: 60px;
  }
  .header-heading a {
    width: 100px;
    border-bottom: 0;
    background-color: transparent;
    color: #adadad;
  }
  .main-menu {
    display: none;
  }
  .utility {
    margin-left: auto;
  }
  .buy-btn {
    display: none;
  }
  .mobile-menu-btn {
    display: flex;
  }

  /* 메인 */
  .main {
    margin-top: 60px;
  }
  .update {
    flex: auto;
    margin-right: 0;
    margin-bottom: 5px;
    width: 100%;
  }
  .repo {
    flex: auto;
    width: 100%;
  }
  .patch-notes-inner {
    padding: 70px 20px 50px;
    width: 100%;
  }

  /* 푸터 */
  .footer-img {
    justify-self: center;
    grid-row: 3;
    grid-column: 1;
    margin-top: 15px;
  }
}

@media (max-width: 1024px) {
  /* 메인 */
  .patch-card {
    flex: auto;
    width: 100%;
  }
  .patch-card:first-of-type {
    margin-right: 0;
    margin-bottom: 25px;
  }
}

@media (max-width: 767px) {
  /* 메인 */
  .season,
  .update,
  .repo {
    position: relative;
  }
  .season::before,
  .update::before,
  .repo::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(34, 34, 34, 0.7) 100%
    );
  }
  .season-content,
  .update-content,
  .repo-content {
    left: 20px;
  }
  .season-heading,
  .update-heading,
  .repo-heading {
    font-size: 2.3rem;
    text-shadow: 1px 1px 1px #000;
  }
  .more-btn {
    padding: 12px 35px 8px;
    font-size: 1.3rem;
    background-color: #f2a900;
    color: #fff;
    transition: box-shadow 0.1s ease;
    cursor: pointer;
  }

  /* 푸터 */
  .SNS-list li a {
    padding: 5px 0;
    font-size: 0.8rem;
  }
  .corp {
    padding-top: 90px;
    padding-left: 0;
    grid-row: 2;
    grid-column: 1;
    font-family: 'Roboto', sans-serif;
  }
  .footer-img {
    width: 100%;
  }
}
