@charset 'UTF-8';

/* 기본 폰트 종류 및 사이즈 */
html {
  font-size: 16px;
  font-family: 'Teko', sans-serif;
}

/* 숨긴 콘텐츠 */
.a11y-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip-path: polygon(0 0, 0 0, 0 0);
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
}

/* 스킵 네비게이션 */
.skip-nav li {
  display: flex;
  position: absolute;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #000;
}
.skip-nav li a {
  position: absolute;
  transform: translateY(-130%);
  margin: 10px 0;
  padding: 10px 0;
  color: #fff;
}
.skip-nav li a:active,
.skip-nav li a:focus {
  position: static;
  transform: none;
}

/* 헤더 */
.header {
  display: flex;
  flex-flow: row nowrap;
  height: 80px;
  background-color: #161616;
}
.header-heading a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 155px;
  height: 100%;
  font-size: 2.5rem;
  border-bottom: 5px solid #fff;
  background-color: #252525;
  color: #fff;
}
.main-menu {
  flex: 1;
}
.menu-list {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
}
.menu-list li {
  height: 100%;
}
.menu-list li a {
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 100%;
  font-size: 1.25rem;
  color: #adadad;
}
.menu-list li:nth-child(-2n + 3) a {
  color: #f2a900;
}
.menu-list li a:hover {
  color: #fff;
}
.menu-list li a i {
  margin-left: 3px;
  font-size: 0.7rem;
}
.utility {
  display: flex;
  flex-flow: row nowrap;
  padding-right: 10px;
}
.utility li a {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0 20px;
  height: 100%;
  font-size: 1.25rem;
  color: #adadad;
}
.utility li a:hover {
  color: #fff;
}
.utility li:first-child a i {
  padding-right: 15px;
  font-size: 0.8rem;
}
.utility li:last-child a i {
  font-size: 1.25rem;
}
.buy-btn {
  width: 150px;
  height: 100%;
  background-color: #f2a900;
  font-size: 1.2rem;
  color: #fff;
}
.buy-btn i {
  margin-left: 5px;
  font-size: 0.8rem;
}
.mobile-menu-btn {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 60px;
  background-color: #f2a900;
}
.ham-box {
  position: relative;
  width: 30px;
  height: 27px;
}
.ham-bar {
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: #fff;
}
.first-bar {
  top: 0;
}
.second-bar {
  top: 50%;
  transform: translateY(-50%);
}
.last-bar {
  bottom: 0;
}

@media (max-width: 1400px) {
  .header {
    height: 60px;
  }
  .header-heading a {
    width: 100px;
    border-bottom: 0;
    background-color: transparent;
    color: #adadad;
  }
  .main-menu {
    display: none;
  }
  .utility {
    margin-left: auto;
  }
  .buy-btn {
    display: none;
  }
}
